<!DOCTYPE html>
<html>
  <head>
    <title>LeagueOfHangman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.slim.min.js">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
